.producttitle{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:48px ;
    font-weight: 600;
  
  }
  
  .productdescription{
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgba(0, 0, 0, 0.8);
  }
  
  .productimage{
    width: 100%;
    cursor: pointer;
    max-width:80px;
    border: 2px solid transparent;
    margin-right: 10px;
    border-radius: 10px;
  }
  
  .selectedproductimage{
    border: 2px solid  #FF9900;
  }
  
  .featureitem{
    max-width: 170px;
    background-color: gainsboro;
    border-radius: 10px;
    border: 0;
    margin-right: 15px;
    color:#37475A;
    padding: 10px 14px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  .featureitem:hover{
    box-shadow:2px 3px 5px 	#37475A;
  }
  
  .selectedfeatureitem{
    color: azure;
    background-color:grey ;
    box-shadow:2px 3px 7px 	#37475A;
  }
  
  
  .buybutton{
    max-width: 170px;
    background-color: teal;
    border-radius: 10px;
    border: 0;
    margin-right: 15px;
    color:white;
    padding: 13px 34px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 40px;
  }
  
  .buybutton:hover{
    box-shadow:2px 3px 5px 	#37475A;
  }